<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
  <script src="https://cdn.tailwindcss.com"></script>
  <style>
    .table {
      border-spacing: 0 15px;
    }
  
    i {
      font-size: 1rem !important;
    }
  
    .table tr {
      border-radius: 20px;
    }
  
    tr td:nth-child(n+5),
    tr th:nth-child(n+5) {
      border-radius: 0 .625rem .625rem 0;
    }
  
    tr td:nth-child(1),
    tr th:nth-child(1) {
      border-radius: .625rem 0 0 .625rem;
    }
  </style>
</head>
<body>
  
  <div class="flex items-center justify-center min-h-screen bg-gray-900">
    <div class="col-span-12">
      <div class="overflow-auto lg:overflow-visible ">
        <h1 class="text-3xl font-bold text-white mb-5">
          LIBROS PRESTADOS
        </h1>
        <a href="{% url 'save'%}" class="px-3 py-2 bg-sky-700 hover:bg-sky-600 text-white rounded font-semibold">
          Nuevo Prestamo
        </a>
        <hr class="mt-4">
        <table class="table text-gray-400 border-separate space-y-6 text-sm">
          <thead class="bg-gray-800 text-gray-500">
            <tr>
              <th class="py-3 px-7">Ejemplar</th>
              <th class="py-3 px-7 text-left">Libro</th>
              <th class="py-3 px-7 text-left">Cliente</th>
              <th class="py-3 px-7 text-left">Inicio</th>
              <th class="py-3 px-7 text-left">Fin</th>
              <th class="py-3 px-7 text-left">Action</th>
            </tr>
          </thead>
          <tbody>
            {%for prestamo in prestamos%}
            <tr class="bg-gray-800">
              <td class="p-3">
                <span class="bg-green-400 text-gray-50 rounded-md px-2">{{prestamo.idlibro.codigo}}</span>
                
              </td>
              <td class="p-3">
                {{prestamo.idlibro.titulo}}
              </td>
              <td class="p-3">
                <div class="flex align-items-center">
                  <img class="rounded-full h-12 w-12   object-cover" src="https://images.unsplash.com/photo-1600856209923-34372e319a5d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2135&q=80" alt="unsplash image">
                  <div class="ml-3">
                    <div class="">{{prestamo.idusuario.nombre}}</div>
                    <div class="text-gray-500">{{prestamo.idusuario.nombre}}@rgmail.com</div>
                  </div>
                </div>
              </td>
              <td class="p-3">
                {{prestamo.fecprestamo}}
              </td>
              <td class="p-3 ">
                {{prestamo.fecdevolucion}}
              </td>
              <td class="p-3">
                <a href="{% url 'update' id=prestamo.idprestamo%}" class="text-gray-400 hover:text-gray-100 mx-2">
                  <i class="material-icons-outlined text-base">edit</i>
                </a>
                <a style="cursor: pointer;" class="text-gray-400 hover:text-gray-100 ml-2" onclick="document.getElementById('form-deleted').submit();">
                  <i class="material-icons-round text-base">delete_outline</i>
                </a>
                <form id="form-deleted" action="{% url 'delete'%}" method="post">
                  {%csrf_token%}
                  <input type="hidden" name="idprestamo" value="{{prestamo.idprestamo}}">
                </form>
              </td>
            </tr>
            {%endfor%}          
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>
</html>